<h1 class="main-heading"> Welcome to the Insurance Quote App </h1>
<div [formGroup]="insuranceQuoteForm" class="form-container">
  <app-personal-info-form [insuranceQuoteForm]="insuranceQuoteForm"></app-personal-info-form>
  <app-vehicle-selection [insuranceQuoteForm]="insuranceQuoteForm"></app-vehicle-selection>
  <div>
    <button (click)="submitQuote()" [disabled]="!insuranceQuoteForm.valid" mat-raised-button color="primary">Submit
    </button>
  </div>
</div>
<p *ngIf="showInsuranceMessage" class="error-message"> {{insuranceMessage}} </p>
<app-insurance-quote-response *ngIf="showQuote"
                              [insuranceQuoteResponse]="insuranceQuoteResponse"
                              [quoteRequest]="insuranceQuoteRequest"
                              (toggleEvent)="toggleShowQuote()"></app-insurance-quote-response>
<app-previous-quotes></app-previous-quotes>
